@font-face {
  font-family: Font-Awesome;
  src: url(../fonts/fontawesome-webfont.ttf) format('truetype');
}

.fa {
  font-family: 'Font-Awesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-arrow-circle-left:before{
  content: "\f0a8";
}

.fa-sign-out:before{
  content: "\f08b";
}

.fa-cogs:before{
  content: "\f085";
}

.fa-pencil:before{
  content: "\f040";
}

.fa-files-o:before{
  content: "\f0c5";
}

.fa-check:before{
  content: "\f00c";
}

.fa-ban:before{
  content: "\f05e";
}

.fa-trash:before{
  content: "\f1f8";
}

.fa-times:before{
  content: "\f00d";
}

.fa-spinner:before{
  content: "\f110";
}

.fa-pulse {
    -webkit-animation: fa-spin 1s infinite steps(8);
    animation: fa-spin 1s infinite steps(8);
    animation-name: fa-spin;
    animation-duration: 1s;
    animation-timing-function: steps(8, end);
    animation-delay: initial;
    animation-iteration-count: infinite;
    animation-direction: initial;
    animation-fill-mode: initial;
    animation-play-state: initial;
}


@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
  }
}
